<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CARCAT</title>
  <meta name="description" content="">
  <meta name="fragment" content="!"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta id="facebook-app-id" data-app-id="262886084239386">
  <meta id="google-app-id"
        data-key-api="AIzaSyB3a44LLyW_ihqKhzHO7hLHLHrtCkGjBfk"
        data-clientid="762253585301-vsmfipnm3hljj267uk808jt3pcigmsr6.apps.googleusercontent.com"
        data-scope="openid email"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-approvalprompt="force">

  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,300,700"
        rel="stylesheet" type="text/css">
  <link rel="stylesheet"
        href="{{ url_for('static', filename='components/css/normalize.css') }}">
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/bs.css') }}">
  <link rel="stylesheet"
        href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet"
        href="//code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/app.css') }}">
  <!-- Material Design Lite -->
  <script defer
          src="{{ url_for('static', filename='js/material.min.js') }}"></script>
  <base href="/">

</head>
<body ng-cloak>
<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark nav-bar-top">
      <a class="nav-bar-logo" href="/">CARCAT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"
               id="navbarDropdown" role="button"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              <span class="upper">brands</span>
            </a>
            <div class="dropdown-menu"
                 aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/brand/{{ item.id }}"
                 ng-repeat="item in menu">{{ item.name }}</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
              mdl-textfield--floating-label mdl-textfield--align-right">
            <label class="mdl-button mdl-js-button mdl-button--icon"
                   for="waterfall-exp">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" name="sample"
                     id="waterfall-exp">
            </div>
          </div>
        </form>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">about</a>
          </li>
          <li class="nav-item" ng-show="user.info().size < 1">
            <a class="nav-link icon-top" data-ng-href="/login">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item" ng-show="user.info().size > 0">
            <a class="nav-link icon-top" data-ng-href="/profile">
              <i class="fa fa-user" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item" ng-show="user.info().size > 0">
            <a class="nav-link icon-top" data-ng-href="/logout">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<section>
  <div class="container pt-4 pb-4" ng-view></div>
</section>

<footer>
  <div class="container">
    <div class="mdl-mega-footer">
      <div class="mdl-mega-footer__middle-section">

        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox"
                 checked>
          <h1 class="mdl-mega-footer__heading">Features</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="#">About</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Updates</a></li>
          </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox"
                 checked>
          <h1 class="mdl-mega-footer__heading">Details</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="#">Specs</a></li>
            <li><a href="#">Tools</a></li>
            <li><a href="#">Resources</a></li>
          </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox"
                 checked>
          <h1 class="mdl-mega-footer__heading">Technology</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="#">How it works</a></li>
            <li><a href="#">Patterns</a></li>
            <li><a href="#">Usage</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Contracts</a></li>
          </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox"
                 checked>
          <h1 class="mdl-mega-footer__heading">FAQ</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="#">Questions</a></li>
            <li><a href="#">Answers</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>

      </div>

      <div class="mdl-mega-footer__bottom-section">
        <div class="mdl-logo">Title</div>
        <ul class="mdl-mega-footer__link-list">
          <li><a href="#">Help</a></li>
          <li><a href="#">Privacy & Terms</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- AngularJS -->
<script
    src="{{ url_for('static', filename='components/angular.min.js') }}"></script>
<!-- AngularJS - Route -->
<script
    src="{{ url_for('static', filename='components/angular-route/angular-route.js') }}"></script>
<!-- AngularJS - Resource -->
<script
    src="{{ url_for('static', filename='components/angular-resource.min.js') }}"></script>
<!-- AngularJS - Resource -->
<script
    src="{{ url_for('static', filename='components/angular-flash.min.js') }}"></script>
<!-- AngularJS - Base64 -->
<script
    src="{{ url_for('static', filename='components/angular-base64/angular-base64.min.js') }}"></script>
<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jq.js') }}"></script>
<!-- AngularJS upload files -->
<script
    src="{{ url_for('static', filename='js/angular-file-upload.min.js') }}"></script>
<!-- PopperJS -->
<script
    src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
<!-- Bootstrap -->
<script
    src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
<!-- App -->
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>
